<div class="pt-16">
    <div class="feedBody bg-white  flex">

        <div class="left_sidebar w-1/3 hidden md:block">
            <div class="container bg-black h-screen fixed w-1/4">
                <h1 class="text-emerald-200">sds</h1>
            </div>
        </div>
        <div class="feedBody w-full md:w-1/3 ">
            

<div class="grid mb-8 border border-gray-200 rounded-lg shadow-xs dark:border-gray-700 md:mb-12  bg-white dark:bg-gray-800">
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
</div>

        </div>

        <div class="ride_sideBar w-1/3 hidden md:block ">
            <div class="container bg-black h-screen fixed w-1/4 right-0">
                <h1 class="text-red-600">sddsd</h1>
            </div>
        </div>

    </div>
  